<config>	
	<map LonLat="0 , 0" Zoom="2">  
        <BaseLayers>           
          <layer name="cloud" type="cloud" />
		  <!-- <layer name="iServer" type="tiled" url="http://localhost:8090/iserver/services/map-changchun/rest/maps/长春市区图" /> -->
        </BaseLayers>
        <Overlaps />
		    
        <Controls>
			    <ScaleLine />
			    <PanZoom />
			    <Navigation />
          <LayerSwitcher />
		    </Controls>
	</map>
	
	<layout>
		<title>Javascript BEV 1.0</title>

    <panel id="layer" />
    
	</layout>
</config>